@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <div class="container">
        <table class="table table-bordered">

            <tr>
                <th>#</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Stok</th>
                <th>Açıklama</th>
                <th>Getir</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                    <td>@item.Description</td>

                    <td>  <a href="/Default/GetProduct/@item.ID/" class="btn btn-primary">Getir</a></td>
                    <td>  <a href="/Default/DeleteProduct/@item.ID/" class="btn btn-danger">Sil</a></td>
                    <td>  <a href="/Default/UpdateProduct/@item.ID" class="btn btn-info">Güncelle</a></td>

                </tr>
            }




        </table>
        <a href="/Default/AddProduct/" class="btn btn-info">Yeni Ürün Girişi</a>




    </div>

</body>
</html>
